# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# VS
.vs/

# IDEA
.idea/

# CMake Build
*/cmake-*/

# demo
/Code/DataStructure/demo/c-cpp

# visual studio build
*/x64/Debug/
*/x64/Release/
*/x32/Debug/
*/x32/Release/
/Code/DataStructure/x64/Debug
